div.home {
    padding: 10px;
}

input.text-input-field {
    resize: none;
    width: 250px;
    height: 35px;
    border: 1px solid #000;
    vertical-align: top;
}

.enter-room-button {
    display: inline-block;
    border: none;
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin-left: 5px;
    background-color: #000;
    color:#fff;
    font-weight: bold;
    text-align: center;
}